/estudo_3d.vcxproj
/estudo_3d.vcxproj.filters
/estudo_3d.sln
/CMakeCache.txt
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/cmake_install.cmake
/ITKIOFactoryRegistration
/CMakeFiles
estudo_3d.dir
Debug
/estudo_3d.VC.VC.opendb
/estudo_3d.VC.db
